/*COLORS***
dark green: #293000
avocado: #546300
volt: #D6FC00
orange: #FF4E00
light orange: #FFE2D6
mahogany: #BA4D00
chocolate: #5E3A00
yellow: #EC9F05
sunglow: #FFCF35
sizling sunrise: #FFDC00
white: #ffffff
off-white: #F9F9F9
light grey: #BFBFBF
gray: #919191
dark grey: #1E1E1E
black: #000000
bright red: #FF0707

*/

@import url('https://fonts.googleapis.com/css?family=Work+Sans:100,400,600,900');
/****HEADER FONTS****/

h1, h2, h3, h4, p, a, li {
  font-family: 'Work Sans', sans-serif;
}

h1 {
  color: white;
  font-weight: 600;
}

h2 {
  font-weight: 600;

}

h3, h4 {
  color: black;
  font-weight: 600;
}


h6 {
  color: black;
  font-weight: 100;
}

/****BODY STUFF****/

/**experimental move this to base.css**/

body {
  overflow-x: hidden;
  background-color: white;


}


main {
  background-color: white;
  margin-top: 10vh;
}


/*****OTHER FONTS****/

a {
  cursor: pointer;
  color: inherit;
}

a:hover {
  color: #BFBFBF;
  border-color: #BFBFBF;
  text-decoration: none;
}

/**page***/

#page {
  overflow-x: hidden
}