header {
  background-color: black;
  height: 8vh;
}

nav {
  position: relative;
  left: -3rem;
}

section {
  margin: 0 auto;
  margin-top: 15vh;
  text-align: center;
  margin-bottom: 20vh;
}

.blog-header section {
  margin-bottom: 0'

}



footer {
  font-family: 'Work Sans', sans-serif;
  /* height: auto; */
  /* padding-top: 5rem; */
  margin-top: 18rem;
  justify-content: center;

}

footer a:visited {
  color: white;
}

body {
  margin: 0px;
}

a {
  text-decoration: none;
}

.blog-menu a:visited {
  color: black;
}

.blog-header {
  text-align: center;
  margin-top: 25vh;
}

.blog-header h1 {
  color: black;
  font-size: 3rem;
  padding: 0 5rem;
  margin-bottom: 5px;
}

.blog-header input {
  padding: 5px 20px;
  font-size: 1rem;
  font-style: italic;
  text-align: center;
}

.blog-menu {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-top: 25vh;
}

.blog input {
  border-color: black;
}

/**Login Page**/

label {
  font-family: 'Work Sans', sans-serif;
}

.login {
  margin-bottom: 20px;
}

button, .cool-button {
  background-color: red;
  padding: 5px 10px;
  color: white;
  margin-top: 10px;
  border-color: red;
  cursor: pointer;
  font-size: 12px;
}

.create textarea {
  height: 300px;
  border-color: black;
  width: 30rem;
  border-width: 2px;
}

.title input {
  width: 25rem;
  margin-bottom: 20px;
}

.detail_post {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: -6rem;
  margin-bottom: 10rem;
  border-top: 2px solid red;
}

.detail_date {
  */ margin-bottom: 1rem;
  margin-left: 10rem;
  margin-right: 10rem;
  border-top: 2px solid red;
  padding-top: 1rem;
}

.index-page {
  margin-left: 10rem;
  margin-right: 10rem;
  margin-top: -6rem;
  margin-bottom: 15rem;
  border-top: 5px solid red;
  text-align: left;
}

.index-page a:visited {
  color: #ad0e0e;
}

.login_link {
  position: absolute;
  margin-left: 10rem;
  /* bottom: 7rem;
  float: right; */
  color: red;
}

.login_link a {
  color: red;
}

.alert {
  text-align: center;
  background-color: grey;
  width: max-content;
  padding: 5px;
  margin: 0 auto;
  /* position: absolute; */
  /* left: 43%; */
  position: relative;
  top: -7rem;
  opacity: .9;
}

.alert {
  animation: opacity 2s linear 2s;
  animation-fill-mode: forwards;
}