/**Loading Page**/

#page {
  display: none;
}

#loading {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background-color: #FF0707;
  font-family: 'Work Sans', sans-serif;
  font-size: 100%;
  margin: 0;
  text-align: center;
}

.wrapper {
  height: 50px;
  margin-top: calc(50vh - 25px);
  margin-left: calc(50vw - 100px);
  width: 180px;
}

.circle {
  border-radius: 50%;
  border: 3px #0a0a0a solid;
  float: left;
  height: 50px;
  margin: 0 5px;
  width: 50px;
}

.circle-1 {
  animation: move 1s ease-in-out infinite;
}

.circle-1a {
  animation: fade 1s ease-in-out infinite;
}

.circle-2 {
  animation: move 1s ease-in-out infinite;
}

.circle-1a {
  margin-left: -55px;
  opacity: 0;
}

.circle-3 {
  animation: circle-3 1s ease-in-out infinite;
  opacity: 1;
}

/**Hero on Most Pages***/

.hero {
  height: 30vh;
  padding: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero h1 {
  font-size: 5rem;
}