{% extends "primary.html" %} {% block title %}About{% endblock %} {% block content %}
<main class="about">
  <section class="hero" style="background-image: url(static/images/run.jpg)">
    <div>
      <h1>ABOUT</h1>
    </div>
  </section>

  <section class="about_s1">
    <div class="about_s1-text">
      <h3>A Brief Introduction</h3>
      <p>
        Youth accountability initiative forum is a platform where the youths (both male and female) are trained and mentored on how to implement the principles of Open Government and hold their government accountable.
      </p>
      <p>
        In the world today, there are 1.8 billion young women and men globally, of which 90% of them are in the age bracket of between 10-24 years olds living in developing countries e.g. Nigeria.
      </p>
      <p>
        This group of persons are very fragile because they can be influenced negatively or positively. For instance, in the use as political thugs, militancy, etc; or in the use as young people to monitor development e.g. in the use of social media and other
        innovative monitoring tools, etc.
      </p>
      <p>
        Through engaging young people in accountability, there is an opportunity to connect power to youth and youth to power, redefining the relationship between duty bearers and young people.
      </p>
      <p>
        Working with young people always brings great joy, but it gives us a greater sense of satisfaction when we can empower them to get into spaces where they can actually interact and engage with decision-makers. I believe that youth-led accountability for
        the Open Government Partnership is important because it will allow young people to be meaningfully engaged in this new development framework.
      </p>
      <p>
        At pilot scale, JCI Hope Project is leading the accountability project for OGP in the South East sub-national level because we are passionate about development and creating a better world for our youth. The youth led accountability approach combines data-driven
        accountability with high level advocacy, local campaigns and mobilization. Our experience so far has allowed us to interact with more young boys and girls who are challenged by social norms and are stepping up to get involved with the development
        of their society. Empower young people with knowledge, skills and networks; connect them to meaningful opportunities to participate, and support them to generate their own data, they will be leaders in exercising accountability.
      </p>
    </div>
    <div class="about_s1-image">
      an image will go here
    </div>
  </section>

  <section class="about_s2">
    <h3>"energy must be channelled to better development of our nation through engagement of youths"</h3>
  </section>

  <section class="about_s3">
    <div class="about_s3-sidetext">
      <div class="about_s3-sidetext--objective">
        <h4>Structure</h4>
        <p>
          Youth groups or centres will be identified through the Youth Accountability initiative program in each of the three zones of the states where step down training by those youths already trained will be organized in clusters for the locals. They will be
          trained and mentored on how to implement the OGP principles and hold their government accountable.
        </p>
      </div>
      <div class="about_s3-sidetextbottom">
        <div class="about_s3-sidetext--actors">
          <h4>Actors</h4>
          <p>
            The primary actors are the selected youth organizations, the civil society networks, the government institutions in the state or locality.
          </p>
        </div>
        <div class="about_s3-sidetext--technology">
          <h4>Technology</h4>
          <p>
            The main technology utilized is an online/internet portal through which information is released, awareness is created and the youth mobilized.
          </p>
        </div>

      </div>
    </div>
    <div class="about_s3-maintext">
      <h2>Youth Accountability</h2>
      <p>
        Because youths exercise enormous energy and vibrancy; these energy must be channelled to better development of our nation through engagement of youths to be agents of accountability.
      </p>
      <p>
        The youth accountability will constitute a platform to mainstream the activities of identified youth groups to implement the open government principles through organizing:
      </p>
      <ul>
        <li>
          Town hall meetings at the development centres (youth led multi stakeholder reviews, and monitoring of government activities)
        </li>
        <li>
          Youth participation audit (benchmark for tracking improvements in youth development)
        </li>
        <li>
          Regular dialogue with government ministries, agencies, departments and private organization about open government partnership to for sustainability of the program.
        </li>
        <li>
          Creation of accountability advocates/volunteers in local communities
        </li>
        <li>
          Creation of a social media or an online platform for interaction of stakeholders
        </li>
      </ul>
    </div>
  </section>



</main>

{% endblock %}