 {% extends "base.html" %} {% block title %}Blog Posts{% endblock %} {% block content_title %}{% if search %}Search "{{ search }}"{% else %}Blog Posts{%
endif %}{% endblock %} {% block content %}

<section class="index-page">
  {% for entry in object_list %}
  <h3>
        <a href="{% if entry.published %}{{ url_for('detail', slug=entry.slug) }}{% else %}{{ url_for('edit', slug=entry.slug) }}{% endif %}">
          {{ entry.title }}
        </a>
    </h3>
  <p>Created {{ entry.timestamp.strftime('%m/%d/%Y at %G:%I%p') }}</p>
  {% else %}

  <p>No entries have been created yet.</p>
  {% endfor %}
</section>




{% if not session.logged_in %}
<p class="login_link">
  <a href="login">Login to create posts</a>
</p>
{% endif %} {% endblock %}