{% extends "primary.html" %} {% block title %}OGP{% endblock %} {% block content %}
<main class="ogp">
  <section class="hero" style="background-image: url(static/images/run.jpg)">
    <div>
      <h1>OGP</h1>
    </div>
  </section>

  <section class="ogp_s1">
    <div class="ogp_s1-image" style="background-image: url(static/images/educate.jpg)">
      an image will go here
    </div>
    <div class="ogp_s1-text">
      <h3>Background</h3>
      <p>
        In a bid to strengthen Nigeria’s anti-corruption framework, the Federal Government of Nigeria (FGN) joined the Open Government Partnership (OGP) in July
        2016 as the 70th member country.
      </p>
      <p>
        The OGP is an international multi-stakeholder initiative which was launched on 20th September 2011 to provide an international platform for domestic reformers
        to make their governments more open, accountable and responsive to citizens.
      </p>
    </div>

  </section>
  <section class="ogp_s2">
    <h3>Subnational Engagement</h3>
    <p>
      The OGP process allows for sub-national engagement under which some states in the Southeast including Anambra, Ebonyi and Enugu have indicated interest
      to join and whilst advocacy is required to get the two states of Imo and Abia to also commit to open and transparent governance and to implement
      key principles of the OGP in their respective states. A key component of the OGP process is the involvement of Non State Actors/Civil Society Organizations
      as equal partners with the government in the creation, implementation and Monitoring of the Action Plans and commitments.
    </p>
  </section>

  <section class="ogp_s3">
    <h3>Key Principles</h3>
    <div class="ogp_s3-main">
      <div>
        <h5>Transparency</h5>
        <p>
          Information on government activities and decisions is open, comprehensive, timely and freely available to the public, and meets basic open data standards.
        </p>
      </div>
      <div>
        <h5>Accountability</h5>
        <p>
          Rules, regulations, and mechanisms are in place that call upon government actors to justify their actions, act upon criticisms or requirements made of
          them and accept responsibility for failure to perform.
        </p>
      </div>
      <div>
        <h5>Citizen	Participation</h5>
        <p>
          Governments seek to mobilize citizens to engage in public debate, provide input, and make contributions that lead to more responsive and effective governance.
        </p>
      </div>
      <div>
        <h5>Technology and Innovation</h5>
        <p>
          Governments embrace the importance of new technologies in driving innovation, providing citizens with open access to technology, and increasing their capacity
          to use technology.
        </p>
      </div>
    </div>

  </section>

  <section class="ogp_s4">
    <h3>Project Rationale </h3>
    <p>
      The above three states in the South East of Nigeria having applied to join the OGP will be required to develop (along with the Non-State Actors/Civil Society
      Organizations) a State Action Plan, Commitments and Activities for implementation in close collaboration with the National OGP Secretariat for the
      first two years.
      <p>
        As such, we have identified an urgent need to:
      </p>
      <ul>
        <li>
          Develop the capacity of the relevant Non-State Actors/Civil Society Organisations to enable them effectively participate in the identification, creation,
          implementation and monitoring of the various State Action Plans and to hold their state governments accountable for the use (or misuse) of public
          resources.
        </li>
        <li>
          Secure the future and community ownership of the OGP process in the states by training and mainstreaming youth organisations into the OGP process.
        </li>
      </ul>
      <div class="ogp_s4-image" style="background-image: url(static/images/support.jpg)">

      </div>
  </section>

  <section class="ogp_s5">
    <h3>Goals</h3>
    <div class="ogp_s5-main">
      <div>
        <h5>Objectives</h5>
        <ol>
          <li>
            To organize and strengthen the capacity of non-state actors in each of the states.
          </li>
          <li>
            Provide Capacity Enhancement training on the OGP Process in each of the states (as well as invite participants from neighbouring states to advocate for
            the need for their state governors to sign the OGP commitments).
          </li>
          <li>
            Develop Standards and documentation to guide the non-state actors on key issues like fiscal responsibility, access to information, citizens engagement
            etc.
          </li>
          <li>
            To support the monitoring and reporting on the implementation of the action plans.
          </li>
          <li>
            Improve coordination between the Non-State Actors and the public sector implementers of the OGP Action plan.
          </li>
          <li>
            To provide specialized training for officials that will be responsible for the implementation of the OGP principles in the states.
          </li>
          <li>
            To assist the states in articulating their state action plans in consultation with non-state actors.
          </li>
        </ol>
      </div>
      <div>
        <h5>Key Activities </h5>
        <ol>
          <li>
            Organize Training and Capacity Building workshop in each of the states (2 days per state) Advocacy visit with state officials, improve the platform for
            consultation on the development of state action plans and support advocates from non-OGP states within the Southeast.
          </li>
          <li>
            Develop Media/IEC material and radio programs in local languages to broaden and deepen the discussion on transparency and accountability among citizens
          </li>
          <li>
            Review existing laws and policy framework that may impact on the implementation of the OGP State Action Plan and recommend new policy/legal frameworks.
          </li>
          <li>
            Establish Youth Accountability Working Groups to mainstream youths into the OGP Process.
          </li>
          <li>
            Establish an online platform to enable the trained youth participate in community engagement, interact, track OGP implementation and report on monitoring
            activities.
          </li>
          <li>
            Train 2 young persons (gender balance) to manage the platform and provide stipends for them for an initial period of 6 months.
          </li>
        </ol>
      </div>
    </div>

  </section>


  <section class="ogp_s6">
    <h3>Project Timeline </h3>
  </section>

</main>


{% endblock %}