{% extends "primary.html" %} {% block title %}Partners{% endblock %} {% block content %}
<main class="ju-partners ju-border">
  <section class="ju-parallax ju-hero_newIdea" style="background-image: url(static/images/print4.jpg)">
    <div class="ju-hero_newIdea--top">
      <img class="ju-icon" src="https://vectr.com/julieet29/a7ZB01mzI.svg?width=210&height=560&select=aRFUIHld5&source=page" />
      <h1>PARTNERS</h1>
    </div>
    <div class="ju-hero_newIdea--bottom">
      <p class="ju-paragraph">
        <span class="ju-highlight">We take our partnerships very seriously. Through our </span>
        </br>
        <span class="ju-highlight">partnerships, we are able to expand our base, hear directly</span>
        </br>
        <span class="ju-highlight">from those whom we sponsor, and do more good work.</span>
      </p>
      <a class="ju-hero_downbutton" href="#partners">
          <i class="fa fa-chevron-down"></i>
        </a>
    </div>
  </section>

  <!--div class="ju-image_screenwide-hero-follow ju-image_screenwide-*-thin" style="background-image: url(static/images/write.jpg);"></div-->

  <section id="partners" class="ju-section_partners-pg--YAPDC1">
    <h4 class="ju-scroll ju-subheadings">
        <span>Partnering with the <span class="ju-subheadings_accent ju-text_heading--italics">Youth Alliance for</span>
        <span class="ju-subheadings_accent ju-text_heading--italics">Democratic Change</span>
        <span class="ju-subheadings_period">.</span></span>
      </h4>
    <div class="row">
      <div class="col-md-6">
        <p class="ju-scroll ju-paragraph">
          The concept of Youth Alliance for Peaceful Democratic Change is as a result of in-depth study of the activities of the youths during
          election periods. The study has shown the devastating effect of thuggery during this period. The study showed that majority
          act of thuggery emanate from influences from the tertiary intuitions, which breed cultists of various destructive tendencies.
        </p>
        <p class="ju-scroll ju-paragraph">
          The Organization in that respect has invested more on this leadership seminar annually, to encourage our youths to embrace peace and
          dignity in pursuit of any goal. The YADPC equally embark on advocacy visit to various Institution educate them on the need
          to propagate this agenda to their various communities and parents that no electoral position is worth the blood of any individual.
        </p>
        <p class="ju-scroll ju-paragraph">
          A recent survey conducted by YADPC showed that politicians use things like propaganda, ethnic and religious sentiments to lure the
          innocent and unsuspecting youths into thuggery and violence for their selfish political and socio-economic goals. The Youth
          Alliance for Peaceful Democratic Change (YAPDC) wants to address this issue before the 2015 elections through procurement
          of air space in Dream FM Enugu.
        </p>
      </div>
      <div class="ju-scroll col-md-6 ju-cool-image">
        <img class="ju-image_side" src="static/images/run.jpg"></img>
        <div class="ju-image_overlay"></div>
      </div>
    </div>
  </section>

  <section class="ju-section_partners-pg--YAPDC2">
    <div class="row">
      <p class="ju-scroll col-md-6 ju-subheadings ju-subheadings--paragraph">
        <span class="ju-subheadings_accent ju-text_heading--italics">We hope
          to use this platform to facilitate the following YADPC objectives:
        </span>
      </p>
      <ul class="ju-scroll col-md-6 ju-text_body">
        <li>
          <i class="fa fa-caret-right" aria-hidden="true"></i> To educate the youths on the dangers of political thuggery.
        </li>
        <li>
          <i class="fa fa-caret-right" aria-hidden="true"></i> To engage the youths in positive political activism as a way of reducing
          idleness and restiveness amongst them.
        </li>
        <li>
          <i class="fa fa-caret-right" aria-hidden="true"></i> To encourage them to believe in themselves.
        </li>
        <li>
          <i class="fa fa-caret-right" aria-hidden="true"></i> To support those who have interest in politics as a way of reducing
          unemployment.
        </li>
        <li>
          <i class="fa fa-caret-right" aria-hidden="true"></i> To carry the campaign of peaceful democratic change, accountability
          in leadership and in political governance to the campuses and rural areas through seminars, workshops, etc.
        </li>
        <li>
          <i class="fa fa-caret-right" aria-hidden="true"></i> To provide a platform for members of JCIHP/YAPDC to launch into active
          politics and support for other to persons or organizations with similar objectives.
        </li>
      </ul>
    </div>
  </section>


  <section class="ju-section_partners-pg--YAPDC3">
    <div class="row">
      <div class="ju-scroll col-md-6 ju-cool-image">
        <img class="ju-image_side" src="static/images/run.jpg"></img>
        <div class="ju-image_overlay"></div>
      </div>
      <div class="col-md-6">
        <p class="ju-scroll ju-paragraph">
          The Organization in that respect has invested more on this leadership seminar annually, to encourage our youths to embrace peace and
          dignity in pursuit of any goal. The YADPC equally embark on advocacy visit to various Institution educate them on the need
          to propagate this agenda to their various communities and parents that no electoral position is worth the blood of any individual.
        </p>
        <p class="ju-scroll ju-paragraph">
          The YAPDC held a rally under the platform of PDP Fan Club at the burial ceremony of the mother of Chairman of PDP, Enugu State Engr.
          Vita Abba on 11 October, 2013. The YAPDC equally participated at the rally at Okpara Sqaure on 16th of October, 2013 for
          the official flag-off of PDP LG Election Campaign in Enugu State.
        </p>
        <p class="ju-scroll ju-paragraph">
          The YADPC also sent two of its members each to all the LGs to monitor the just concluded LG Election held on 2 November, 2013. The
          essence is to ascertain the turnout of electorates for election and if they believe in the system.
        </p>

        </p>
      </div>
    </div>
  </section>

  <div class="ju-image_screenwide--thick ju-parallax" style="background-image: url(static/images/write.jpg);"></div>

  <section class="ju-section_partners-pg--YAPDC4">
    <div class="row">
      <p class="ju-scroll col-md-6 ju-paragraph">
        In the time past, the inauguration of YAPDC was held on the 21th of April, 2013 at No. 3 Ekulu close, GRA Enugu and conducted by Elder
        Ben Amuha of JCIHP. The total number of participants in attendance is 89 which includes; schools’ executive and representatives
        from School of Dental Technology Trans Ekulu, Enugu, Institute of Management and Technology (IMT)Enugu, Enugu State University
        of Science and Technology, (ESUTECT), Enugu to mention just a few.
      </p>
      <p class="ju-scroll col-md-6 ju-paragraph">
        A recent survey conducted by YADPC showed that politicians use things like propaganda, ethnic and religious sentiments to lure the
        innocent and unsuspecting youths into thuggery and violence for their selfish political and socio-economic goals. The Youth
        Alliance for Peaceful Democratic Change (YAPDC) wants to address this issue before the 2015 elections through procurement of
        air space in Dream FM Enugu.
      </p>
    </div>

  </section>

  <section class="ju-section_partners-pg--Team2015">
    <h4 class="ju-scroll ju-subheadings">
        <span>
          <span>Partnering with</span>
          <span class="ju-subheadings_accent ju-text_heading--italics">
            Team 2018</span>
          <span class="ju-subheadings_period">.</span>
        </span>
      </h4>
    <div class="row">
      <div class="ju-scroll col-md-6">
        <p class="ju-paragraph">
          Team 2015 is an initiative of Women’s International League for Peace & Freedom Nigeria (WILPF) that focuses on creating awareness on
          political participation as a means of exercising civic and political rights of women, educating on women’s human rights,
          mobilizing a strong women’s constituency and supporting women aspiring for political positions come 2015 in Nigeria. The
          JCIHP has signed an MOU with WILPF to respond to challenges faced by women in Nigeria in the area of governance and democratic
          processes in the nation.
        </p>
        <p class="ju-scroll ju-paragraph">
          This has yielded results as some of the women projected by the Organization were made Deputy Chairmen in the just concluded Local Government
          Election in Enugu State. An example is the Deputy-Chairman Elect of Udi Local Government Area Mrs. Uche Eze who was sponsored
          by JCIHP.
        </p>
      </div>
      <div class="ju-scroll col-md-6 ju-cool-image">
        <img class="ju-image_side" src="static/images/run.jpg"></img>
        <div class="ju-image_overlay"></div>
      </div>
    </div>
  </section>

</main>

<script>
  $(document).ready(function() {
    $.fn.scrollAppear('.ju-section_partners-pg--YAPDC1');
    $.fn.scrollAppear('.ju-section_partners-pg--YAPDC2');
    $.fn.scrollAppear('.ju-section_partners-pg--YAPDC3');
    $.fn.scrollAppear('.ju-section_partners-pg--YAPDC4');
    $.fn.scrollAppear('.ju-section_partners-pg--Team2015');
  });

</script>

{% endblock %}
