<!DOCTYPE html>

<html lang="en">

<head>
  {% block head %}
  <!-- Required meta tags -->
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

  <!-- documentation at http://getbootstrap.com/docs/4.0/ -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <!--fontAwesome, fonts-->
  <script src="https://use.fontawesome.com/2135495225.js"></script>
  <link href="https://fonts.googleapis.com/css?family=IM+Fell+French+Canon:400i|Lato:300,400,400i|Montserrat:900|Open+Sans+Condensed:300" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400i" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet">
  <!-- my stylesheets, need to compile into one when finished -->
  <link href="/static/base.css" rel="stylesheet" />
  <link href="/static/modules.css" rel="stylesheet" />
  <link href="/static/layout.css" rel="stylesheet" />
  <link href="/static/state.css" rel="stylesheet" />

  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>

  <title>JCIHP:{% block title %}{% endblock %}
  </title>
  {% endblock%}
</head>

<body>
  <div id="loading">
    <div class="wrapper">
      <div class="circle circle-1"></div>
      <div class="circle circle-1a"></div>
      <div class="circle circle-2"></div>
      <div class="circle circle-3"></div>
    </div>
    <h1>Loading&hellip;</h1>
  </div>
  <div id="page">
    <header id="juHeader" class="navbar ju-header ju-header--large-scrn">
      <a class="ju-logo" id="juLogo" href="/">
          <img src="https://vectr.com/julieet29/aL2NxcPcw.svg?width=520&height=400&select=aL2NxcPcwpage0&source=page" alt="jcihp" >
        </a>
      <nav>
        <div class="ju-menu">
          <input type="checkbox" />
          <div class="ju-menu_button">
            <span class="ju-span1"></span>
            <span class="ju-span2"></span>
            <span class="ju-span3"></span>
          </div>
          <ul class="ju-menu_content">
            <li><a class="ju-dropdown_item" href="values"><span class='ju-line'></span>Values.</a></li>
            <li><a class="ju-dropdown_item" href="projects"><span class='ju-line'></span>Projects.</a></li>
            <li><a class="ju-dropdown_item" href="partners"><span class='ju-line'></span>Partners.</a></li>
            <li><a class="ju-dropdown_item" href="contact"><span class='ju-line'></span>Contact.</a></li>
            <li>
              <div class="ju-menu_extrastuff">
                <div class="ju-dropdown_social">
                  <i class="fa fa-facebook" aria-hidden="true"></i>
                  <i class="fa fa-twitter" aria-hidden="true"></i>
                </div>
                <div class="ju-footer_inheader">
                  <p class="ju-text_footer--thin">400 Hakatari Crescent, Abuja, Nigeria</p>
                  <p class=".ju-text_footer">+234 409 943 9632</p>
                  <p class=".ju-text_footer">welcome@jcihp.com</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="main">
      {% block content %}{% endblock %}
    </div>

    <footer class="ice ju-footer">
      <div class="row footer-section">
        <div class="ju-footer-question col-sm col-md-6">
          <p class="ju-text_footer--italic">So, do you want to work together?</p>
          <p class="ju-text_footer--bold"><i class="fa fa-long-arrow-right" aria-hidden="true"></i> CONTACT US</p>
        </div>
        <div class="trademark">
          <p class="col-sm footer-info ju-text_footer--italic">©JCIHP 2018
            <p>
        </div>
      </div>
    </footer>
  </div>


  <!-- My JavaScript -->
  <script src="static/main.js" type="text/javascript"></script>

  <!-- fontAwesome super first, then jQuery first, then Popper.js, then Bootstrap JS -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
</body>

</html>