{% extends "primary.html" %} {% block title %}Projects{% endblock %} {% block content %}
<main class="ju-border ju-projects">
  <section class="ju-parallax ju-hero_newIdea" style="background-image: url(static/images/print2.jpg)">
    <div class="ju-hero_newIdea--top">
      <img class="ju-icon" src="https://vectr.com/julieet29/a7ZB01mzI.svg?width=210&height=560&select=aRFUIHld5&source=page" />
      <h1>PROJECTS</h1>
    </div>
    <div class="ju-hero_newIdea--bottom">
      <p class="ju-paragraph">
        <span class="ju-highlight">The JCIHP is focusd on bringing about positive change in the </span>
        </br>
        <span class="ju-highlight">lives of those who we engage with. Our projects, displayed</span>
        </br>
        <span class="ju-highlight">below, are just a few examples of how we bring about those changes.</span>
      </p>
      <a class="ju-hero_downbutton" href="#hoverTable">
        <i class="fa fa-chevron-down"></i>
      </a>
    </div>
  </section>

  <div id="hoverTable" class="ju-container ju-section_projects-pg-hover-table">
    <div class="ju-row ju-scroll">
      <div class="ju-hover-table_container ju-ht_container--1">
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/write.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Essay Competition.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay">
            <div class="ju-text_body--bold ju-hover-table_description">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <p>
                Essay Competition.
              </p>
              <p class="ju-hover-table_description--body">
                Strengthening the minds of tommorrow with essay writing today.
              </p>
            </div>
          </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
                  <span class="ju-hero_secondary--white">Essay Competition.
                  </span>
                  <span>Strengthening the minds of tommorrow with essay writing today.</span>
                </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">At inception of J.C. Ibekaku Hope project, it was discovered that student’s unionisim which is a veritable instrument
                of preparing our youths towards leadership position in the society has become moribund in Enugu state. The side effects
                were so enormous, that our student cannot compete favorably with other students in leadership positions in their various
                universities and other higher institutions of learning, where they existed, their impacts cannot be felt by the students
                themselves, the obvious reason being that no one has discovered this laxity and offered to assist, this basically is
                the connection of J. C. Ibekaku Hope Project to bringing to bear the institution of JCHP Annual Essay Competition Awards.
              </p>
              <div class="ju-modal_image--wide ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>
              <h6 class="ju-text_body--italic">Results</h6>
              <p class="ju-paragraph">The First JCHIP Annual Essay Competition Awards which topic entitled “Transforming local community to a city: policy
                issues to consider.” was written by a total number of One hundred and Twenty-Three participants. Award winners of the
                Essay Competition who are Eze Nneka 1st position from Igbo-Eze North LGA, 2nd Position Eze Obinna from Affa in UDI
                LGA and 3rd position Ani Solomon from Nkanu-West LGA were given the sum of fifteen thousand naira, ten thousand naira
                and seven thousand naira respectively.
              </p>
              <p class="ju-paragraph">The Second edition of the JCHIP Annual Essay Competition Awards which topic entitled “PARADIGM SHIFT IN LEADERSHIP IN
                NIGERIA; WHITHER NIGERIA YOUTHS was written by a total number of One Hundred and Eighty Two participants.
              </p>
              <p class="ju-paragraph">Dr. Cephas Lerewonu, the chairman of the ERC stated that many factors were considered during the selection of the Winners
                of the Essay competition. He equally thanked the panelists for their efforts during the screening of the Essays. The
                Essay Competition winners are; Francis Chieze from Egede in Udi LGA won the 1st Prize and given a cash prize of N10,000.00
                and Samsung Galaxy 4. Ugwu Joel Chinonso from Ibagwa-Aku in Igboeze-South LGA won the 2nd Prize and given a cash prize
                of N10,000.00 and Blackberry note pad. Josephine Chinasa Awoke from Umulumgbe in Udi LGA won the 3rd prize and given
                a cash prize of N10,000.00 only.
              </p>
              <div class="ju-modal_image--center ju-image_screenwide--thin" style="background-image: url(static/images/run.jpg);"></div>
              <h6 class="ju-text_body--italic">Future Goals</h6>
              </h6>
              <p class="ju-paragraph">
                The anticipation of the Essay Awards was that it would go a long way to improving the literary, writing and reading skills of the participants.
              </p>
              <p class="ju-paragraph">
                The Organization equally sponsored the publication of a book entitled Nigeria After Fifty written by Rev. Kelvin Eze. The book was
                launched in during the JCIHP 3rd Annual Leadership Seminar held on 2nd August, 2013. The Organization’s quest on this
                is to ensure the youths take over the stage of publication from Wole Soyinka, late Chinua Achebe and host of other
                writers.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="ju-hover-table_container ju-ht_container--2">
        <!--Initial Image-->
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/run.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Seminar Training.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay">
            <div class="ju-text_body--bold ju-hover-table_description">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <p>
                Seminar Training.
              </p>
              <p class="ju-hover-table_description--body">
                Preparing graduates to enter the workforce.
              </p>
            </div>
          </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
                <span class="ju-hero_secondary--white">Seminar Training.
                </span>
                <span>Preparing graduates to enter the workforce.</span>
              </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">One of our most prevalent projects was a 4- day Workshop organized for unemployed graduates’ youths in Enugu, on the
                5th - 8th of March 2012 at Fontana Hotels, Enugu. Over 70 unemployed graduates selected from the 17 Local Government
                Areas in Enugu and youths from Anambra, Ebonyi and Imo State participated in the programme. The essence of the training
                was to improve the graduates to be employable to the nation. At the end of the workshop, the participants were able
                to draft a standard curriculum vitae and preparatory requirement for attending interviews. The seminar was aired on
                Radio Nigeria/ESBS and equally published in the News Bulletin of Ministry of Information, Enugu.
              </p>
              <div class="ju-modal_image--center ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>

            </div>
          </div>
        </div>
      </div>

      <div class="ju-hover-table_container ju-ht_container--3">
        <!--Initial Image-->
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/write.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Annual Leadership Day.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay">
        <div class="ju-text_body--bold ju-hover-table_description">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Annual Leadership Day.
            </p>
            <p class="ju-hover-table_description--body">
              Helping youth fulfill their potential.
            </p>
          </div>
        </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
                <span class="ju-hero_secondary--white">Annual Leadership Day.
                </span>
                <span>Helping youth fulfill their potential.</span>
                </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">The J.C. Ibekaku Hope Project has organized three leadership seminars which started from 2011 to date (2013).
              </p>
              <p class="ju-paragraph">The second in series was organized in collaboration with Egede Students Union at Ogba-Wushi Egbe Hall, Egede on 15 September,
                2012. The Chairman of the occasion, Prince Augustine Eze stated that the youths were specially endowed with different
                potentials and expressed the need to harness these attributes. The key note remarks were delivered by Mr. Stanley Anyadi,
                Special Assistant to Deputy Senate President, Ike Ekweremadu on Information Technology on the theme, “Transforming
                Egede Youths through Information and Communication Technology”. A total number of 308 undergraduates and graduates
                from Affa, Egede, Umuoka, Umulumgbe in Udi and Ezeagu LGA attended the function.
              </p>
              <p class="ju-paragraph">
                The third in series was organized in collaboration with Youths Alliance for Peaceful Democratic Change on 2nd August, 2013 at Citi-Park
                Luxury Hotel, Independence Layout Enugu.
              </p>
              <div class="ju-modal_image--wide ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>
              <h6 class="ju-text_body--italic">Results</h6>
              <p class="ju-paragraph">The objectives of the one day leadership seminar are; to prepare the youths by building their leadership skill, to develop
                programs toward youths empowerment, to improve youths access to education and to reduce youths unemployment and restiveness
                in Enugu State. A total number of 261 undergraduates and graduates from the 17 Local Government Area of Enugu State
                attended the workshop. Also in attendance were the Honorable Commissioner for Gender Affairs, Enugu State representing
                the State Governor, the State Youth Leader pf the Peoples Democratic Party (PDP) Dr. Christian Iyiani, who also delivered
                paper on Youths Unemployment in Nigeria: The Bane of Rascality to Nation at the occasion.
              </p>
              <div class="ju-modal_image--center ju-image_screenwide--thin" style="background-image: url(static/images/run.jpg);"></div>
              <h6 class="ju-text_body--italic">Future Goals</h6>
              </h6>
              <p class="ju-paragraph">
                At the end of the workshop, the participants through the president of the National Council of Enugu State Students (NCESS) presented
                to the founder of J C Ibekaku Hope project, Barr. Juliet Ibekaku an award as Patroness of the Association for fostering
                political peace and making valuable investment in the life of youths.
              </p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <div class="ju-row ju-scroll">
      <div class="ju-hover-table_container ju-ht_container--4">
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/write.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              YouWin Leadership Training.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay">
          <div class="ju-text_body--bold ju-hover-table_description">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              YouWin Leadership Training.
            </p>
            <p class="ju-hover-table_description--body">
              Spreading knowledge about our mission.
            </p>
          </div>
        </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
                <span class="ju-hero_secondary--white">YouWin Leadership Training.
                </span>
                <span>Spreading knowledge about our mission.</span>
              </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">The YouWin Training for JCIHP member was held on 11th October, 2012 at No. 3 Ekulu close, GRA Enugu. Three members of
                the YouWin Team and Awardees in the first edition were present at the training and they also acted as the facilitators.
                Thirty-three (33) members of JCIHP were present at the training. The concept and benefit of the training was for members
                of the JCIHP to have first hand information and knowledge about the project and to have an opportunity to interact
                with past Awardees. It was further intended to harness the possibility of the organization submitting proposal for
                its Palm oil processing and plantation project at Egede in Udi Local Government area of Enugu State.
              </p>
              <div class="ju-modal_image--center ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>
            </div>
          </div>
        </div>

      </div>

      <div class="ju-hover-table_container ju-ht_container--5">
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/run.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Job Creation.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay">
            <div class="ju-text_body--bold ju-hover-table_description">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <p>
                Job Creation.
              </p>
              <p class="ju-hover-table_description--body">
                Putting our graduates to work.
              </p>
            </div>
        </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
                <span class="ju-hero_secondary--white">Job Creation.
                </span>
                <span>Putting our graduates to work.</span>
              </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">The J.C. Ibekaku Hope Project has continued to assist the graduates ones to secure jobs both in the government and private
                sectors of the economy.
              </p>
              <div class="ju-modal_image--center ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>
              <h6 class="ju-text_body--italic">Results</h6>
              <p class="ju-paragraph">Many of these graduates through the Organization’s economic empowerment programs have applied to learn trades that will
                make them self-sufficient and employer of labor on the long run.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="ju-hover-table_container ju-ht_container--6">
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/write.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Multipuropse Cooperative Society.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay">
            <div class="ju-text_body--bold ju-hover-table_description">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <p>
                Multipuropse Cooperative Society.
              </p>
              <p class="ju-hover-table_description--body">
                Providing funding to rural entrepenuers.
              </p>
            </div>
        </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
              <span class="ju-hero_secondary--white">Multipuropse Cooperative Society.
              </span>
              <span>Providing funding to rural entrepenuers.</span>
            </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">The J C Ibekaku Hope Project has strong developmental programs for the rural women. There are clear indications that
                majority of the parents are rural dwellers and suffer greatly from the unemployment status of their children, this
                in turn, results to health problems.
              </p>
              <div class="ju-modal_image--center ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>

              <h6 class="ju-text_body--italic">Results</h6>
              <p class="ju-paragraph">It is in the realization these problems that the J C Ibekaku Hope Project has progressed with the registration of the
                Ibekaku Multi-Purpose Cooperative Society. The pilot program has started in Egede and it is hoped to touch other communities
                with the improvement in funding. A total number of One Hundred and Thirteen Women are pilot members in the said cooperative
                societies which will be launched on the 17th of November, 2013.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="ju-row ju-scroll">
      <div class="ju-hover-table_container ju-ht_container--7">
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/write.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Health Care Services.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay ju-hover-table_overlay--7">
            <div class="ju-text_body--bold ju-hover-table_description">
              <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
              <p>
                Health Care Services.
              </p>
              <p class="ju-hover-table_description--body">
                Celebrating International Womens' Day with health care awareness.
              </p>
            </div>
        </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
                <span class="ju-hero_secondary--white">Health Care Services.
                </span>
                <span>Celebrating International Womens' Day with health care awareness.</span>
              </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">This organization on March 8, 2013 being the International Women’s Day, embarked on a program tagged “Free Health Care
                for Rural Women” in collaboration with volunteer doctors and nurses lead by Dr. Ngozi Madukaife of the University Teaching
                Hospital, Abakiliki, Ebonyi State. Though meant for promoting good health for the women, no doubt, the men were not
                left out in the exercise. A total number of Two Hundred and Fifty Women and Forty Five Men were administered free drugs
                after general test exercises being conducted on them. The JCIHP free health care services have been extended to Nze
                and Ngwo in Udi Local Govt. Area.
              </p>
              <div class="ju-modal_image--center ju-image_screenwide--center" style="background-image: url(static/images/write.jpg);"></div>
              <h6 class="ju-text_body--italic">Results</h6>
              <p class="ju-paragraph">After the Annual Leadership in 2nd August, 2013, free HIV & Hepatitis B test were carried out on One Hundred and Fifteen
                participate that voluntarily submitted themselves for the test.
              </p>
              <p class="ju-paragraph">The J.C Ibekaku Hope project through its health care services catered for the medical expenses for brain surgery of the
                daughter of one Mrs. Eucharia Obianife, a resident in Oji-River LGA.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="ju-hover-table_container ju-ht_container--8">
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/run.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Tertiary Institutions.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay ju-hover-table_overlay--8">
            <div class="ju-text_body--bold ju-hover-table_description">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Tertiary Institutions.
            </p>
            <p class="ju-hover-table_description--body">
              Supporting student unionism.
            </p>
            </div>
        </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
              <span class="ju-hero_secondary--white">Tertiary Institutions.
              </span>
              <span>Supporting student unionism.</span>
              </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">Student Unionism as way of preparing the youths for leadership positions has been an area JCIHP has partnered with various
                Students’ Unions in its tertiary institutions. This partnership has produced great talents in these youths, such as
                producing News Magazines, organizing seminars in local communities, building up their skills in music, arts and participating
                in other entrepreneurial endeavors that dissuade the youths from partaking in social vices.
              </p>
              <div class="ju-modal_image--center ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>
              <h6 class="ju-text_body--italic">Results</h6>
              <p class="ju-paragraph">Such partners includes; Egede Students’ Union which the Organization helped to found. Umulumgbe Students’ Association
                which the Organization sponsored its Maiden Magazine. Ezeagu Students’ Association which the Organization also sponsored
                its maiden magazine. Affa Youths Association which the Organization sponsored its Youths Football Competition/Seminar
                on 29th December, 2012.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="ju-hover-table_container ju-ht_container--9">
        <div class="ju-image_screenwide--thin ju-hover-table_image" style="background-image: url(static/images/write.jpg);">
          <div class="ju-text_body--bold ju-hover-table_display-text">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
              Financial Assistance.
            </p>
          </div>
        </div>
        <!--Overlay-->
        <button id="juModalBtn" class="ju-hover-table_overlay ju-hover-table_overlay--9">
            <div class="ju-text_body--bold ju-hover-table_description">
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <p>
            Financial Assistance.
            </p>
            <p class="ju-hover-table_description--body">
            Providing financial opportunities for education.
            </p>
            </div>
        </button>
        <!--The Modal-->
        <div class="ju-modal">
          <div class="ju-modal_content">
            <div class="ju-modal_header">
              <a class="ju-logo" id="juLogo" href="/">
                <div>
                  <h3 class="ju-text_body--italic">jcihp</h3>
                </div>
              </a>
              <span class="ju-modal_close">&times;</span>
            </div>
            <div class="ju-modal_body">
              <h4 class="ju-text_body--bold">
              <span class="ju-hero_secondary--white">Financial Assitance.
              </span>
              <span>Providing financial opportunities for education.</span>
            </h4>
              <h6 class="ju-text_body--italic">Summary</h6>
              <p class="ju-paragraph">The J.C Ibekaku Hope Project understands that education is the bedrock of every developmental activities of man. Many
                of our youths are in their educational stages of life. Many of these youths are finding the future of their educational
                program in jeopardy because of several needs.
              </p>
              <div class="ju-modal_image--wide ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>
              <h6 class="ju-text_body--italic">Results</h6>
              <p class="ju-paragraph">With all modesty, the Organization is sponsoring two doctorate students in University of Nigeria Nsukka and Nnamdi Azikiwe
                University of Awka. They are Andrew Apeh and Francis Chieze respectively.
              </p>
              <p class="ju-paragraph">The J C Ibekaku Hope Project on its little way has established Scholarship/bursary fund for indigent students to benefit
                from. It is on record Jennifer Amarachi Nji, a blind student of Federal Government College has been enjoying the Organization’s
                Scholarship from her Senior Secondary School 2 (SS2) and it will run through her University education.
              </p>
              <p class="ju-paragraph">Other undergraduates under the Organization’s financial assistance includes; Emenike Nzute, a student of Enugu State
                University of Science & Technology; Ozor Peter, Eze Geoffrey and Mary Offor all students of Institute of Management
                & Technology, IMT Enugu and one Mr. Sunday Ibekaku to mention just a few.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

</main>

<script src="static/modals.js" type="text/javascript"></script>
{% endblock %}
