{% extends "primary.html" %} {% block title %}Sponsors{% endblock %} {% block content %}
<main class="sponsors">
  <section class="hero" style="background-image: url(static/images/run.jpg)">
    <div>
      <h1>SPONSORS</h1>
    </div>
  </section>

  <section class="sponsors_s1">
    <h3>  The Civil Resource Development and Documentation Centre</h3>
    <div class="sponsors_s1-main">
      <div class="sponsors_s1-image" style="background-image: url(static/images/nsu_award.jpg)">

      </div>
      <div class="sponsors_s1-text">
        <p>
          The Civil Resource Development and Documentation Centre (CIRDDOC) Nigeria is an independent, non-governmental and not-for-profit organisation established
          in 1996 for the protection and promotion of human rights and women’s human rights and the strengthening of civil society. CIRDDOC is also committed
          to the institutionalization of good governance, gender equality and the rule of law in Nigeria. CIRDDOC is registered under Part C of Companies
          and Allied Matters Act laws of the Federation of Nigeria 1990.
        </p>
      </div>
    </div>
  </section>

  <section class="sponsors_s2">
    <div class="sponsors_s2-ethics">
      <h3>The Ethics & Corporate Compliance Institute of Nigeria</h3>
      <div class="sponsors_s2-image" style="background-image: url(static/images/financial.jpg)">
      </div>
      <div class="sponsors_s2-text">
        <p>
          The Ethics & Corporate Compliance Institute of Nigeria (The Institute) is an independent, non-partisan, not-for-profit, Non-Governmental Organization incorporated
          in 2006 in Nigeria. The institute operates from locations in Lagos, Abuja, Enugu and Port Harcourt. The Institute was set up to meet the challenge
          of stemming corruption and moral decadence in the Nigeria public and private sectors- themselves a fall out of decades of corrupt military dictatorship
          which spread massive corruption and poverty to all facets of the Nigerian Society leading to the collapse of moral and societal values in Nigeria
        </p>
        <p>
          Nigeria has paid and continues to pay a colossal price in reputational capital for corrupt practices, both real and imagined. The Institute empowers private
          and public sector organizations to improve their governance standards; facilitates inter-sector collaboration to bolster corporate responsibility,
          public accountability, transparency, the rule of law and access to justice. In addition, the Institute serves as a resource centre, conducts
          training, workshops and research.
        </p>
      </div>
    </div>
    <div class="sponsors_s2-jcihp">
      <h3>JCI Hope Project</h3>
      <div class="sponsors_s2-image" style="background-image: url(static/images/educate.jpg)">
      </div>
      <div class="sponsors_s2-text">
        <p>
          JCI Hope Project is an independent, non-governmental and non-profit and charity organization registered under the laws of the Federal Republic of Nigeria.
          It is also a philanthropic organization that seeks to consistently deliver hope and change in the lives of indigent people in the society. It
          plays active roles in developing the capacity of youths and women from different walks of life on divergent areas such as good and open governance,
          leadership, democracy, civil participation, peace building, health and socio economic development. JCI Hope Project had supported well over 1,000
          women in interest free micro credit, and more than 500 youths had equally benefitted from numerous leadership training. The initiatives and programmes
          of the organization are developed from a gender lens with a view to improving the standard of living of both boys and girls especially.
        </p>

      </div>
    </div>
  </section>



</main>

{% endblock %}