{% extends "primary.html" %} {% block title %}Values{% endblock %} {% block content %}
<main class="ju-border ju-values">
  <section class="ju-hero_newIdea ju-parallax" style="background-image: url(static/images/print5.jpg)">
    <div class="ju-hero_newIdea--top">
      <img class="ju-icon" src="https://vectr.com/julieet29/a7ZB01mzI.svg?width=210&height=560&select=aRFUIHld5&source=page" />
      <h1>VALUES</h1>
    </div>
    <div class="ju-hero_newIdea--bottom">
      <p class="ju-paragraph">
        <span class="ju-highlight">Our values, what we stand for, are quite literally</span>
        </br>
        <span class="ju-highlight">the foundation of the JC Ibekaku Hope Project. Our</span>
        </br>
        <span class="ju-highlight">objectives and core mandates are critical to our success.</span>
      </p>
      <a class="ju-hero_downbutton" href="#values">
          <i class="fa fa-chevron-down"></i>
        </a>
    </div>
  </section>

  <section id="values" class="ju-section_values-pg--objectives">
    <h4 class="ju-scroll ju-subheadings">
        <span>
          <span class="ju-subheadings_accent ju-text_heading--italics">Objectives</span>
          <span><span>guide us</span><span class="ju-subheadings_period">.</span></span>
        </span>

      </h4>
    <div class="row">
      <div class="col-md-6">
        <p class="ju-scroll ju-paragraph">
          The J C Ibekaku Hope Project has discovered that unemployment among our graduate youths is causing night mare to all levels of government
          in this country, the parents and the youths in particular. It is even saddening that where opportunity exists, many factors
          come to play, these factors are highly discriminatory; age limit, years of experience, tribe and above all, “who do you know?”
        </p>
        <p class="ju-scroll ju-paragraph">
          Because of these discriminatory factors, the youths have begun to fear tomorrow and they believe that the promise of being leaders
          of tomorrow is a myth. This fear of tomorrow has created multiple indices in the minds of the youths; some have taken to
          such vices that not only destroy their targets, but also to themselves later on. It is on this premises that the J. C. Ibekaku
          Hope Project makes it a primary objective to give “Hope” to these “seemingly” hopeless ones.
        </p>
      </div>

      <div class="ju-scroll col-md-6 ju-cool-image">
        <img class="ju-image_side" src="static/images/run.jpg"></img>
        <div class="ju-image_overlay"></div>
      </div>
    </div>
  </section>

  <section class="ju-infographic ju-section_values-pg--mandates-infographic">
    <h4 class="ju-subheadings">
      <span><span>Our</span>

      <span class="ju-subheadings_accent ju-text_heading--italics">core mandates</span>

      <span>are as follows:</span></span>

      </h4>
    <ul>
      <div class="row col-md-3">
        <div class="ju-infographic_bullet-point">
          <li>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <h4>Opportunity</h4>
          </li>
          <li class="ju-paragraph">
            Maintaining educational opportunities for the indigent through its scholarship and bursary schemes
          </li>
        </div>
        <div class="ju-infographic_bullet-point">
          <li>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <h4>Business</h4>
          </li>
          <li class="ju-paragraph">
            Catering to the needs of rural women through its micro-credit schemes
          </li>
        </div>
      </div>
      <div class="row col-md-3">
        <div class="ju-infographic_bullet-point">
          <li>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <h4>Independence</h4>
          </li>
          <li class="ju-paragraph">
            Promoting economic independence among women and youth through our skills acquisition center and other training programs
          </li>
        </div>

        <div class="ju-infographic_bullet-point">
          <li>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <h4>Healthcare</h4>
          </li>
          <li class="ju-paragraph">
            Providing free health care services in areas where they are scarce
          </li>
        </div>
      </div>
      <div class="row col-md-3">
        <div class="ju-infographic_bullet-point">
          <li>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <h4>Employment</h4>
          </li>
          <li class="ju-paragraph">
            Ehancing employment opportunities for graduates through the conduct of seminars, workshops and specialized training sessions
          </li>
        </div>
        <div class="ju-infographic_bullet-point">
          <li>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <h4>Collaboration</h4>
          </li>
          <li class="ju-paragraph">
            Working in partnership with organizations of similar objectives to achieve goals
          </li>
        </div>
      </div>

      <div class="row col-md-3">
        <div class="ju-infographic_bullet-point">
          <li>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <h4>Community</h4>
          </li>
          <li class="ju-paragraph">
            Highlighting the importance of participation by women and youth in national development and social change
          </li>
        </div>
        <div class="ju-infographic_bullet-point">
          <li>
            <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
            <h4>Scholarship</h4>
          </li>
          <li class="ju-paragraph">
            Hepling students seeking university admission locally and internationally
          </li>
        </div>
      </div>
    </ul>
  </section>

  <section class="ju-section_values-pg--founder">
    <h4 class="ju-scroll ju-subheadings">
        <span>
          <span>Our</span>
          <span><span class="ju-subheadings_accent ju-text_heading--italics">Founder</span>
          <span class="ju-subheadings_period">.</span></span>
        </span>
      </h4>
    <div class="ju-scroll row">
      <div class="col-md-6">
        <p>
          Barrister Juliet C. Ibekaku is the former Special Assistant/Adviser on Justice Sector Reforms to the Hon. Attorney General of the Federation
          and Minister of Justice.
        </p>
      </div>
      <div class=" col-md-6 ju-cool-image">
        <img class="ju-image_side" src="static/images/run.jpg"></img>
        <div class="ju-image_overlay"></div>
      </div>
    </div>
  </section>

</main>


<script>

  $(document).ready(function() {
    $.fn.scrollAppear('.ju-section_values-pg--founder');
    $.fn.scrollAppear('.ju-section_values-pg--objectives');
  });

</script>
{% endblock %}
