{% extends "primary.html" %} {% block title %}Welcome{% endblock %} {% block content %}
<main class="welcome">
  <div class="opaque"></div>
  <section class="welcome_s1" style="background-image: url(static/images/training.jpg)">

    <div class="welcome_s1-main">
      <span>   <i class="fas fa-hand-paper"></i> <h1>YOUTH ACCOUNTABILITY FORUM</h1></span>
      <span></span>
      <span><h1>...in the interest of integrity </h1></span>
    </div>
    <div class="welcome_s1-middlebox">
      <h1>JOIN US</h1>
    </div>
    <div class="welcome_s1-bottombox">
      <div class="welcome_s1-bottomboxcontent">
        <div class="welcome_s1-bottombox--circle">
          <i class="fas fa-hand-paper"></i>
        </div>
        <div class="welcome_s1-bottombox--text">
          <h3>Fighting Corruption</h3>
          <p>
            Improving knowledge of open government and promotes digital knowledge among the youth
          </p>
        </div>
      </div>
      <div class="welcome_s1-bottomboxcontent">
        <div class="welcome_s1-bottombox--circle">
          <i class="fas fa-lightbulb"></i>
        </div>
        <div class="welcome_s1-bottombox--text">
          <h3>Empowering Youth</h3>
          <p>
            Teaching youth innovative and interdisciplinary skills to empower them as citizens
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="welcome_s2">
    <div>
      <h2>Learn More About Our Sponsors</h2>
    </div>
    <div class="welcome_s2-circlecontainer">
      <div>

      </div>
      <div>

      </div>
      <div>

      </div>
    </div>
    <div class="welcome_s2-headings">
      <div>
        <h3>The Institute</h3>
        <p>
          The Ethics & Corporate Compliance Institute of Nigeria is a non-profit organization set up to meet the challenge of stemming corruption and moral decadence
          in the Nigeria public and private sectors.
        </p>
      </div>
      <div>
        <h3>CIRDOC</h3>
        <p>
          The Civil Resource Development and Documentation Centre (CIRDDOC) Nigeria is a non-profit organisation established for the protection and promotion of
          human rights and women’s human rights and the strengthening of civil society.
        </p>
      </div>
      <div>
        <h3>JCI Hope Project</h3>
        <p>
          The JCI Hope Project is a philanthropic organization that seeks to consistently deliver hope and change in the lives of indigent people in the society.
        </p>
      </div>
    </div>
  </section>

  <section class="welcome_s3">
    <div class="welcome_s3-top">
      <h2>Learn More About Us</h2>
    </div>
    <div class="welcome_s3-bottom">
      <div class="paragraph">
        <p>
          The Youth Accountability Forum is a platform where the youths (both male and female) are trained and mentored on how to implement the principles of Open
          Government and hold their government accountable.
        </p>
        <p>
          Through engaging young people in accountability, there is an opportunity to connect power to youth and youth to power, redefining the relationship between
          duty bearers and young people.
        </p>
        <p>
          Working with young people always brings great joy, but it gives us a greater sense of satisfaction when we can empower them to get into spaces where they
          can actually interact and engage with decision-makers. We believe that youth-led accountability for the Open Government Partnership is important
          because it will allow young people to be meaningfully engaged in this new development framework.
        </p>
      </div>
      <div class="image">
        <img src="static/images/support.jpg" alt="Support">
      </div>
    </div>

  </section>

  <section class="welcome_s4">
    <div class="welcome_s4-top">
      <h2>Blog Posts</h2>
    </div>
    <div class="welcome_s4-bottom">
      <div>
        <img src="static/images/teach.jpg" alt="teach">
      </div>
      <div>
        <img src="static/images/nsu_award.jpg" alt="nsu_award">
      </div>
      <div>
        <img src="static/images/financial.jpg" alt="financial">
      </div>
    </div>

  </section>


</main>

<script>
</script>

{% endblock %}