{% extends "primary.html" %} {% block title %}Welcome{% endblock %} {% block content %}
<main class="ju-border ju-welcome">
  <section class="ju-section_welcome-pg--hero">
    <div class="title">
      <!--h4>JCIHP</h4-->
      <svg class="title-svg" width="100%" height="100%" viewBox="-10 -200 600 500" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1">
         <path id="path">
        		<animate attributeName="d" from="m0,110 h0" to="m0,110 h1100" dur="3s" begin="0s" repeatCount="1" fill="freeze"/>
        	</path>
        	<text font-size="500" font-family="Cookie" fill='hsla(0, 100%, 0%, 1)'>
        		<textPath xlink:href="#path">jcihp
            </textPath>
        	</text>
        </svg>
      <svg class="icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="545" height="200">
          <defs>
            <path class="path" d="M310.32 46.03l90.64 108.02 128.23-92.89" id="a"/>
            <path class="path" d="M121.4 37.5l90.64 108.02 128.23-92.9" id="b"/>
            <path class="path" d="M17.03 137.2l133.24-92.94" id="c"/>
            <path d="M213.42 66.98c.56-10.58 9.26-18.73 19.43-18.2 10.17.53 17.97 9.55 17.42 20.13-.56 10.58-9.26 18.74-19.43 18.21-10.17-.54-17.97-9.56-17.42-20.14z" id="d"/>
            <path d="M289.25 144.34c.55-10.58 9.25-18.73 19.42-18.2 10.17.53 17.97 9.55 17.42 20.13-.56 10.58-9.26 18.74-19.43 18.21-10.16-.54-17.97-9.56-17.41-20.14z" id="e"/>
            <path d="M107.08 133.8c.56-10.58 9.26-18.74 19.43-18.2 10.16.53 17.97 9.55 17.41 20.13-.55 10.58-9.25 18.73-19.42 18.2-10.17-.53-17.97-9.55-17.42-20.13z" id="f"/>
            <path d="M391.12 77.04c.55-10.57 9.26-18.73 19.42-18.2 10.17.54 17.97 9.56 17.42 20.14-.55 10.57-9.26 18.73-19.42 18.2-10.17-.54-17.98-9.56-17.42-20.14z" id="g"/>
          </defs>
          <use xlink:href="#a" fill-opacity="0" stroke="#000" stroke-width="45"/>
          <use xlink:href="#b" fill-opacity="0" stroke="#000" stroke-width="45"/>
          <use xlink:href="#c" fill-opacity="0" stroke="#000" stroke-width="45"/>
          <use xlink:href="#d" fill="#010002"/>
          <use xlink:href="#e" fill="#010002"/>
          <g>
            <use xlink:href="#f" fill="#010002"/>
          </g>
          <g>
            <use xlink:href="#g" fill="#010002"/>
          </g>
        </svg>
    </div>
    <div class="door door1"></div>
    <div class="door door2"></div>
    <div class="subtitle">
      <div class="description">
        <p class="ju-text_body--bold">The J.C. Ibekaku Hope Project is a charity organization founded by Barrister Juliet C. Ibekaku and registered under the Laws of the Federal Republic of Nigeria.
        </p>
      </div>
      <div class="backfade">
      </div>
    </div>


  </section>


  <div class="ju-parallax ju-image_screenwide-hero-follow ju-image_screenwide--thin" style="background-image: url(static/images/write.jpg);"></div>

  <section class="container ju-container ju-section_welcome-pg--focus">
    <div class="row toprow">
      <div class="col-md-3 ju-headings">
        <svg class="ju-headings_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 25 540 200" preserveAspectRatio="none">
          <defs>
            <path d="M310.32 46.03l90.64 108.02 128.23-92.89" id="j"/>
            <path d="M121.4 37.5l90.64 108.02 128.23-92.9" id="k"/>
            <path d="M17.03 137.2l133.24-92.94" id="l"/>
            <path d="M213.42 66.98c.56-10.58 9.26-18.73 19.43-18.2 10.17.53 17.97 9.55 17.42 20.13-.56 10.58-9.26 18.74-19.43 18.21-10.17-.54-17.97-9.56-17.42-20.14z" id="m"/>
            <path d="M289.25 144.34c.55-10.58 9.25-18.73 19.42-18.2 10.17.53 17.97 9.55 17.42 20.13-.56 10.58-9.26 18.74-19.43 18.21-10.16-.54-17.97-9.56-17.41-20.14z" id="n"/>
            <path d="M107.08 133.8c.56-10.58 9.26-18.74 19.43-18.2 10.16.53 17.97 9.55 17.41 20.13-.55 10.58-9.25 18.73-19.42 18.2-10.17-.53-17.97-9.55-17.42-20.13z" id="o"/>
            <path d="M391.12 77.04c.55-10.57 9.26-18.73 19.42-18.2 10.17.54 17.97 9.56 17.42 20.14-.55 10.57-9.26 18.73-19.42 18.2-10.17-.54-17.98-9.56-17.42-20.14z" id="p"/>
          </defs>
          <use class="ju-headings_svgcolor" xlink:href="#j" fill-opacity="0" stroke="orange" stroke-width="45"/>
          <use class="ju-headings_svgcolor" xlink:href="#k" fill-opacity="0" stroke="#000" stroke-width="45"/>
          <use class="ju-headings_svgcolor" xlink:href="#l" fill-opacity="0" stroke="#000" stroke-width="45"/>
          <use class="ju-headings_svgcolor" xlink:href="#m" fill="#010002"/>
          <use class="ju-headings_svgcolor" xlink:href="#n" fill="#010002"/>
          <g>
            <use class="ju-headings_svgcolor" xlink:href="#o" fill="#010002"/>
          </g>
          <g>
            <use class="ju-headings_svgcolor" xlink:href="#p" fill="#010002"/>
          </g>
        </svg>

        <h2>
            <span>FOCUS</span></h2>
        <h2>

      </div>

      <h4 class="col-md-4 ju-subheadings">
          <span>
            <span>Our</span>
            <span class="ju-subheadings_accent ju-text_heading--italics">goal</span>
          </span>
          <span><span>is actually quite simple</span><span class="ju-subheadings_period">.</span></span>
        </h4>
    </div>
    <div class="row">
      <div class="d-sm-none d-md-block d-none d-sm-block ju-parallax ju-image_screenwide--thick ju-image_right-side" style="background-image: url(static/images/one.jpg)"></div>
      <div class="col-md-4 ju-paragraph-and-link">
        <p class="ju-paragraph">
          We are focused on empowering women and youths of this nation through leadership training and skills acquisition.
        </p>
        <a class="ju-link ju-text_body--italic" href="#">See how we do it</a>
      </div>
    </div>
    <div class="d-sm-none d-md-block d-none d-sm-block row">
      <div class="ju-image-description">
        <p class="ju-text_body--bold">
          Developing the minds of the future.
        </p>
        <p class="ju-text_body--italic ju-image-description--accent">
          Enugu City - March 2016
        </p>
      </div>
    </div>

  </section>
  <!--end of container 1-->

  <section class="hidden-on-ipadup">
    <div class="d-sm-none ju-image_screenwide--thick" style="background-image: url(static/images/run.jpg)"></div>
    <div class="d-sm-none ju-image--hide ju-image-description">
      <p class="ju-text_body--bold">
        Developing the minds of the future.
      </p>
      <p class="ju-text_body--italic ju-image-description--accent">
        Enugu City - March 2016
      </p>
    </div>
  </section>
  <!--not fot big screen-->

  <section class="container ju-container ju-section_welcome-pg--mandates">
    <div class="ju-headings">
      <svg class="ju-headings_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 25 540 200" preserveAspectRatio="none">
        <defs>
          <path d="M310.32 46.03l90.64 108.02 128.23-92.89" id="j"/>
          <path d="M121.4 37.5l90.64 108.02 128.23-92.9" id="k"/>
          <path d="M17.03 137.2l133.24-92.94" id="l"/>
          <path d="M213.42 66.98c.56-10.58 9.26-18.73 19.43-18.2 10.17.53 17.97 9.55 17.42 20.13-.56 10.58-9.26 18.74-19.43 18.21-10.17-.54-17.97-9.56-17.42-20.14z" id="m"/>
          <path d="M289.25 144.34c.55-10.58 9.25-18.73 19.42-18.2 10.17.53 17.97 9.55 17.42 20.13-.56 10.58-9.26 18.74-19.43 18.21-10.16-.54-17.97-9.56-17.41-20.14z" id="n"/>
          <path d="M107.08 133.8c.56-10.58 9.26-18.74 19.43-18.2 10.16.53 17.97 9.55 17.41 20.13-.55 10.58-9.25 18.73-19.42 18.2-10.17-.53-17.97-9.55-17.42-20.13z" id="o"/>
          <path d="M391.12 77.04c.55-10.57 9.26-18.73 19.42-18.2 10.17.54 17.97 9.56 17.42 20.14-.55 10.57-9.26 18.73-19.42 18.2-10.17-.54-17.98-9.56-17.42-20.14z" id="p"/>
        </defs>
        <use class="ju-headings_svgcolor" xlink:href="#j" fill-opacity="0" stroke="orange" stroke-width="45"/>
        <use class="ju-headings_svgcolor" xlink:href="#k" fill-opacity="0" stroke="#000" stroke-width="45"/>
        <use class="ju-headings_svgcolor" xlink:href="#l" fill-opacity="0" stroke="#000" stroke-width="45"/>
        <use class="ju-headings_svgcolor" xlink:href="#m" fill="#010002"/>
        <use class="ju-headings_svgcolor" xlink:href="#n" fill="#010002"/>
        <g>
          <use class="ju-headings_svgcolor" xlink:href="#o" fill="#010002"/>
        </g>
        <g>
          <use class="ju-headings_svgcolor" xlink:href="#p" fill="#010002"/>
        </g>
      </svg>
      <h2>
          <span>MAN</span></h2>
        <h2>
          <span>DATES.</span></h2>
      </div>
      <div class="ju-container ju-subsection_welcome-pg--mandates">
        <h4 class="ju-subheadings">
          <span>
            <span>Our</span>
            <span class="ju-subheadings_accent ju-text_heading--italics">mission</span>
          </span>
          <span><span>is very clear-cut</span><span class="ju-subheadings_period">.</span></span>
        </h4>

        <p class="col-md-4 ju-paragraph">
          Some of our cardinal objectives are to discover the needs of women and youths who “seemingly” have no hope of realizing their potentials due to lack of information and education or financial assistance.

        </p>
        <a class="ju-link ju-text_body--italic" href="#">Learn more about our mission</a>
      </div>


  </section>

  <!--end of container 2-->

  <div class="ju-image_screenwide--thick ju-infographic ju-infographic-welcome">
    <ul>
      <div class="ju-infographic_col">
        <li>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <h4>Scholarship</h4>
        </li>
        <li class="ju-paragraph">
          Hepling students seeking university admission locally and internationally
        </li>
        <li>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <h4>Business</h4>
        </li>
        <li class="ju-paragraph">
          Catering to the needs of rural women through its micro-credit schemes
        </li>
      </div>
      <div class="ju-infographic_col">
        <li>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <h4>Healthcare</h4>
        </li>
        <li class="ju-paragraph">
          Providing free health care services in areas where they are scarce
        </li>
        <li>
          <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
          <h4>Collaboration</h4>
        </li>
        <li class="ju-paragraph">
          Working in partnership with organizations of similar objectives to achieve goals
        </li>
      </div>

    </ul>
  </div>

  <section class="container ju-section_welcome-pg--philanthropy">

    <div class="ju-headings">
      <svg class="ju-headings_svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 25 540 200" preserveAspectRatio="none">
        <defs>
          <path d="M310.32 46.03l90.64 108.02 128.23-92.89" id="j"/>
          <path d="M121.4 37.5l90.64 108.02 128.23-92.9" id="k"/>
          <path d="M17.03 137.2l133.24-92.94" id="l"/>
          <path d="M213.42 66.98c.56-10.58 9.26-18.73 19.43-18.2 10.17.53 17.97 9.55 17.42 20.13-.56 10.58-9.26 18.74-19.43 18.21-10.17-.54-17.97-9.56-17.42-20.14z" id="m"/>
          <path d="M289.25 144.34c.55-10.58 9.25-18.73 19.42-18.2 10.17.53 17.97 9.55 17.42 20.13-.56 10.58-9.26 18.74-19.43 18.21-10.16-.54-17.97-9.56-17.41-20.14z" id="n"/>
          <path d="M107.08 133.8c.56-10.58 9.26-18.74 19.43-18.2 10.16.53 17.97 9.55 17.41 20.13-.55 10.58-9.25 18.73-19.42 18.2-10.17-.53-17.97-9.55-17.42-20.13z" id="o"/>
          <path d="M391.12 77.04c.55-10.57 9.26-18.73 19.42-18.2 10.17.54 17.97 9.56 17.42 20.14-.55 10.57-9.26 18.73-19.42 18.2-10.17-.54-17.98-9.56-17.42-20.14z" id="p"/>
        </defs>
        <use class="ju-headings_svgcolor" xlink:href="#j" fill-opacity="0" stroke="orange" stroke-width="45"/>
        <use class="ju-headings_svgcolor" xlink:href="#k" fill-opacity="0" stroke="#000" stroke-width="45"/>
        <use class="ju-headings_svgcolor" xlink:href="#l" fill-opacity="0" stroke="#000" stroke-width="45"/>
        <use class="ju-headings_svgcolor" xlink:href="#m" fill="#010002"/>
        <use class="ju-headings_svgcolor" xlink:href="#n" fill="#010002"/>
        <g>
          <use class="ju-headings_svgcolor" xlink:href="#o" fill="#010002"/>
        </g>
        <g>
          <use class="ju-headings_svgcolor" xlink:href="#p" fill="#010002"/>
        </g>
      </svg>
      <h2>
            <span>PHILAN</span></h2>
      <h2>
            <span>THROPY.</span></h2>
    </div>
    <div class="ju-parallax ju-image_philanthropy" style="background-image: url(static/images/write.jpg);"></div>

    <div class="ju-subsection_welcome-pg--philanthropy row">
      <h4 class="col-md-3 ju-subheadings ">
            <span>
              <span>We put</span>
              <span class="ju-subheadings_accent ju-text_heading--italics">words</span>
            </span>
            <span><span>to action</span><span class="ju-subheadings_period">.</span></span>
          </h4>
      <p class="col-md-3 ju-paragraph">
        As a philanthropist organization aimed at assisting all in our society, we have fashioned out ways to expand the capacity of youths. Our hope is that they will be able to to appreciate the realities and inevitable challenges in life.
      </p>
      <div class="col-md-3 last">
        <p class=" ju-paragraph">
          We hope to expose women and youth to all possible opportunites in order to empower them to make their own opportunites.
        </p>
        <a class="ju-link ju-text_body--italic" href="#">Become a partner</a>
      </div>
  </section>
  <!--end of container 3-->

  </div>

</main>

<script>
  $(document).ready(function() {
    window.onbeforeunload = function() {
      window.scrollTo(0, 0);
    }

    $(window).scroll(function() {
      if ($(this).scrollTop() > 50) {
        $('.door1').addClass('slideoutleft');
        $('.door2').addClass('slideoutright');
        setTimeout(function() {
          //$('.real-title').addClass('real-title-description');
          $('.description').addClass('real-title-description');

        }, 300);
      }

    });
  });
</script>

{% endblock %}